
.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.input-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px 15px;
  background-color: #28a745;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}


.filter-buttons {
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 8px 15px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 5px;
}

.filter-buttons button:hover {
  background-color: #0056b3;
}

.filter-buttons button.active {
  background-color: #343a40;
  color: white;
}


.task-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-height: 300px; 
  overflow-y: auto; 
  width: 90%; 
  border: 1px solid #ddd; 
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.task-list li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.task-list li.completed {
  text-decoration: line-through;
  color: #777;
}

.task-list li button {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.task-list li button:hover {
  background-color: #c82333;
}
